<div class="row mini-view-wrapper border">
  <!--<div class="currentView"></div>-->
  <div id="mini-view" class="col-xs-100 text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quae reiciendis sunt voluptate. Ab aspernatur autem dolore ducimus eligendi maxime, nobis omnis. Architecto assumenda commodi consequatur molestiae praesentium quidem unde!
    Accusamus debitis dicta dolorem ea eum illum in incidunt porro quo sapiente sequi, tempora, temporibus voluptate? Nostrum repudiandae similique sunt. Modi, sit?
    consectetur adipisicing elit. Accusantium doloremque excepturi expedita laborum nam qui quidem quos sint soluta tempora. Aut corporis, eaque esse explicabo hic impedit maxime obcaecati quos?
    Commodi, debitis, doloremque. Architecto, aspernatur aut deserunt distinctio dolorum et excepturi illum incidunt iure labore laborum molestiae nam nesciunt nobis, vel voluptates!
  </div>

</div>
